ul.experience-list {
    list-style: none;
    margin-top: 20px;
}

i.panel-icon {
    padding-right: 6px;
}

div.profile-img {
    background-image: url(img/Rob.png);

    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 250px;
    height: 250px;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1000px) {
    .intro-panel {
        min-height: 250px;
    }
}

.intro-col {
    margin-bottom: 25px;
}

.intro {
    min-height: 100vh;
    padding-top: 10vh;
}

.experience-list-item {

}

.experience-panel {
    margin-bottom: 25px;
}

.experience-carousel {

}

.experience-carousel-sm {
    height: 235px;
    margin-bottom: 25px;
}

.experience-carousel-lg {

}

.experience-image {
    margin: auto;
}

.experience-image-sm {
    max-height: 235px;

}

.experience-image-lg {

}

#experiences {
    min-height: 100vh;
}

@media (min-width: 1202px) {
    .modal-lg {
        width: 1200px;
    }
}