ul.experience-list {
    list-style: none;
    margin-top: 20px;
}

i.panel-icon {
    padding-right: 6px;
}

div.profile-img {
    background-image: url(img/Rob.png);

    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 250px;
    height: 250px;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1000px) {
    .intro-panel {
        min-height: 250px;
    }
}

.intro-col {
    margin-bottom: 25px;
}

.intro {
    min-height: 100vh;
    padding-top: 10vh;
}

.experience-list-item {

}

.experience-panel {
    margin-bottom: 25px;
}

.experience-carousel {

}

.experience-carousel-sm {
    height: 235px;
    margin-bottom: 25px;
}

.experience-carousel-lg {

}

.experience-image {
    margin: auto;
}

.experience-image-sm {
    max-height: 235px;

}

.experience-image-lg {

}

#experiences {
    min-height: 100vh;
}

@media (min-width: 1202px) {
    .modal-lg {
        width: 1200px;
    }
}

body {
    position: relative;
}

body:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url(img/backgrounds/ocean.jpg) no-repeat center center fixed;
    width: 100%;
    height: 100vh;
    opacity: 0.4;
    z-index: -1;
}

.intro-panel {
    background-color: rgba(48, 48, 48, 0.66);
}

/*
Bootstrap overrides
*/

.tooltip-inner {
    max-width: 300px;
}

.tooltip.in {
    opacity: 1;
}

a:hover, a:focus {
    font-weight: bold;
    color: #0c966f;
    text-decoration: none;
}

a.xp-link {
    color: white;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: none;
}

.type-toggle-btns a:hover,
.type-toggle-btns a:focus {
    font-weight: normal;
}

.btn-info.active {
    background-color: #3498db;
    border-color: #3498db;
}

.btn-info.active:hover {
    background-color: #237ebb;
    border-color: #237ebb;
}

.btn-success.active {
    background-color: #02bc8d;
    border-color: #02bc8d;
}

.btn-success.active:hover {
    background-color: #028a67;
    border-color: #028a67;
}

.btn-warning.active {
    background-color: #f39d14;
    border-color: #f39d14;
}

.btn-warning.active:hover {
    background-color: #c8800c;
    border-color: #c8800c;
}